
<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light p-0">
    <div class="container container-fluid">
            <a href="{{ path('app_home') }}" class="navbar-brand mb-0 text-primary">
               <img class="d-inline-block align-middle" src="{{ asset('/pictures/EcoIT.png') }}" width="50" alt="logo eco-it"/>
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>




        <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('courses') }}" class="nav-link text-primary">Catalogue de formations</a>
                </li>
                <li class="nav-item">
                    {% if is_granted('ROLE_INSTRUCTOR')%}
                        <a href="{{ path('admin') }}" class="nav-link">Gérer mes formations</a>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin') }}" class="nav-link">Administration</a>
                    {%  endif %}
                </li>
            </ul>
            <ul class="navbar-nav">

                <li class="nav-item dropdown justify-content-end">
                    <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Espace membre
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if app.user %}
                            <li>
                                <a class="dropdown-item text-primary" href="{{ path('account') }}"><strong>{% if app.user.firstName %} {{app.user.firstName}} {% else %} {{ app.user.nickname }} {% endif %}</strong></a>
                            </li>
                            <li>
                                <a class="dropdown-item text-primary" href="{{ path('app_logout') }}">Se déconnecter</a>
                            </li>
                        {%  else %}
                            <li>
                                <a class="dropdown-item text-primary" href="{{ path('app_login') }}">Se connecter</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-primary" href="{{ path('app_enregistrement_apprenant') }}">Créer un compte apprenant</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-primary" href="{{ path('app_candidate_register') }}">Postuler comme formateur</a>
                            </li>
                        {%  endif %}
                    </ul>
                </li>
            </ul>

        </div>
    </div>

</nav>


