{% extends 'base.html.twig' %}

{% block title %}{{ nomPage }}{% endblock %}

{% block body %}
    <div>

        <h3 class="text-primary mb-5">Voici la liste de nos formations :</h3>

        <section class="courses">
            {% for course in courses %}
                <div class="col-sm-12 col-lg-7">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-200 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            {#                            <strong class="d-inline-block mb-2 text-primary">Le </strong>#}
                            <h4 class="mb-0 text-primary">{{ course.name }}</h4>
                                                        <div class="mb-1 text-muted">Le {{ course.creationDate | date('d/m/Y') }} par {{ course.IsCreatedBy}}</div>

                            <p class="card-text mb-auto">{{ course.description | raw }}</p>
                            <a href="{{ path('app_course_show',{'id':course.id}) }}"  class="stretched-link">Débuter la formation</a>
                            {#                             stretched-link permet d'englober toute la div de l'article et pas seulement le bouton#}
                        </div>
                        <div class="col-auto d-none d-sm-block">
                            <img src="{{  course.Picture  }}" alt="img-fluid" width="150" Height="150">
                        </div>
                    </div>
                </div>
            {% endfor %}

        </section>


    </div>
{% endblock %}
