{% extends 'base.html.twig' %}

{#{% block title %}{{ nomPage }}{% endblock %}#}

{% block body %}

    <h3>Voci le détail de votre formation</h3>

    <section class="course">

        <div class="col-sm-12 col-lg-7">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-200 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    {#                            <strong class="d-inline-block mb-2 text-primary">Le </strong>#}
                    <h4 class="mb-0 text-primary">{{ course.name }}</h4>
                    <div class="mb-1 text-muted">Le {{ course.creationDate | date('d/m/Y') }} par {{ course.IsCreatedBy}}</div>

                    <p class="card-text mb-auto">{{ course.description | raw }}</p></div>
                <div class="col-auto d-none d-sm-block">
                    <img src="{{  course.Picture  }}" alt="img-fluid" width="150" Height="150">
                </div>
            </div>
        </div>

    </section>

{% endblock %}